.level_selector[data-level-selector] {
  float: right;
  position: relative;
  height: 100%;

  button {
    background-color: transparent;
    color: #fff;
    font-family: Roboto,"Open Sans",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    cursor: pointer;

    &:hover {
      color: #c9c9c9;
    }

    &:focus {
      outline: none;
    }

    &.changing {
      -webkit-animation: pulse 0.5s infinite alternate;
    }
  }

  &> ul {
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 100%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    width: 110px;
  }

  li {
    position:relative;
    font-size: 12px;

    &[data-title] {
      padding: 5px;
    }


    a {
      color: #aaa;
      padding: 5px 10px 5px 15px;
      display: block;
      text-decoration: none;
      
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    &.current a {
      background-color: rgba(0,0,0,1.0);
      font-weight: bold;
      color: #fff;
      &:before {
          content: '\2713';
          position: absolute;
          top:2px;
          left:4px;
      }
    }

  }
}

.media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-hd-indicator].enabled{
  display: none !important;
}

@-webkit-keyframes pulse {
  0% {color: #fff;}
  50% {color: #ff0101}
  100% {color: #B80000;}
}
